Repository fubumaki/resonai, changes with the owners that CODEOWNERS names for each.
All owners: @you, @CodexAgent, @ChatGPTAgent

test: complete E2E stabilization rollout
  playwright-report/index.html
  test-results/.last-run.json
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/error-context.md
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/test-failed-1.png
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/video.webm
Owners: @CodexAgent

fix: stabilize mic calibration flow
  .artifacts/SSOT.md
  .artifacts/vitest.json
  components/MicCalibrationFlow.tsx
  lib/analytics/core.ts
  tests/unit/components/MicCalibrationFlow.simple.spec.tsx
  tests/unit/components/MicCalibrationFlow.spec.tsx
Owners: @you, @CodexAgent

fix: replace HTML entities in prosody card
  components/cards/ProsodyPracticeCard.tsx
Owners: @you, @CodexAgent

style: fix bottom nav indentation
  app/layout.tsx
  app/navigation.ts
  components/BottomNav.tsx
Owners: @you, @CodexAgent

chore: simplify practice hud status lookups
  components/PracticeHUD.tsx
Owners: @you, @CodexAgent

Add OTel integration documentation
  OTEL_INTEGRATION_README.md
Owners: none

fix: harden analytics endpoints and CSP bootstrap
  app/analytics/page.tsx
  app/api/events/route.ts
  app/api/feedback/route.ts
  app/layout.tsx
  lib/analytics.ts
  middleware.ts
  public/scripts/session-progress-globals.js
  tests/unit/lib/analytics.spec.ts
Owners: @you, @CodexAgent

feat: implement /try flow runner with DailyPractice preset
  FLOW_RUNNER_IMPLEMENTATION_SUMMARY.md
  app/try/page.tsx
  components/Flows/FlowRunner.tsx
  components/HUD/PracticeHUD.tsx
  flows/presets/DailyPractice_v1.json
  flows/schema.ts
  scripts/test-flow-loading.ps1
  scripts/validate-flow-contracts.ps1
Owners: @you, @CodexAgent

chore: complete ECRR-01 cross-origin isolation
  .github/pull_request_template.md
  .github/workflows/ecrr-gate.yml
  RUN_AND_VERIFY.md
  app/api/events/route.ts
  artifacts/ecrr-doctor.txt
  components/Flows/FlowRunner.tsx
  components/HUD/PracticeHUD.tsx
  docs/ECRR.md
  docs/ECRR_REPORTS/.gitkeep
  docs/ECRR_REPORTS/2025-09-20-ecrr-framework-setup.md
  docs/ECRR_REPORT_TEMPLATE.md
  docs/MAINTENANCE.md
  docs/audit/resonai-audit-response.md
  hooks/usePracticeMetrics.ts
  lib/otel/logs.ts
  next.config.js
  package.json
  playwright-report/index.html
  playwright.smoke.config.ts
  playwright/tests/isolation_headers.spec.ts
  pnpm-lock.yaml
  public/sw.js
  scripts/ecrr-doctor.ps1
  test-results/.last-run.json
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/error-context.md
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/test-failed-1.png
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/video.webm
  tests/smoke/basic.spec.ts
  tests/smoke/isolation.spec.ts
Owners: @CodexAgent, @you, @ChatGPTAgent

ECRR-01: Cross-Origin Isolation + SW continuity, Playwright spec, ONNX/FF guards
  docs/ecrr/COI-FAQ.md
  docs/ecrr/ECRR-01.md
  playwright/tests/offline_isolation.spec.ts
  public/coi-keepalive-sw.js
  scripts/ecrr/verify-headers.ps1
Owners: @ChatGPTAgent, @you, @CodexAgent

ECRR-01: Complete package with terminal reports and smoke test results
  ECRR-01-SMOKE-TEST-RESULTS.md
  docs/ECRR_REPORTS/2025-09-22-cross-origin-isolation.md
  next.config.js
  playwright-report/index.html
Owners: @ChatGPTAgent, @you, @CodexAgent

Add ECRR-01 verification logs for PR attachment
  artifacts/ecrr-01-playwright-isolation.json
  artifacts/ecrr-01-playwright-offline.json
  artifacts/ecrr-01-verification.log
Owners: none

Add comprehensive ECRR-01 final report
  docs/ECRR_REPORTS/2025-09-22-ECRR-01-FINAL-REPORT.md
Owners: @ChatGPTAgent, @you

Add ECRR-01 merge signoff report
  docs/ECRR_REPORTS/2025-09-22-ecrr-01-merge-signoff.md
Owners: @ChatGPTAgent, @you

chore: add fast-glob to pnpm lockfile
  pnpm-lock.yaml
Owners: none

chore: sync fast-glob lock entry
  pnpm-lock.yaml
Owners: none

CODEOWNERS:

# CODEOWNERS
# Patterns relative to repository root

# App code
/app/**             @you @CodexAgent
/components/**      @you @CodexAgent
/styles/**          @you

# Public assets
/public/**          @you

# Infra/CI/Security
/.github/**         @CodexAgent
/tools/**           @CodexAgent
/QUALITY-GATES/**   @CodexAgent
/next.config.*      @CodexAgent
/eslint.*           @CodexAgent
/playwright*/**     @CodexAgent

# Docs & backlog
/docs/**            @ChatGPTAgent @you
/TASKS.md           @ChatGPTAgent @you
/AGENTS.md          @ChatGPTAgent @you
