Repository fubumaki/resonai, changes with the owners that CODEOWNERS names for each.
All owners: @you, @CodexAgent, @ChatGPTAgent

CODEOWNERS:

# CODEOWNERS
# Patterns relative to repository root

# App code
/app/**             @you @CodexAgent
/components/**      @you @CodexAgent
/styles/**          @you

# Public assets
/public/**          @you

# Infra/CI/Security
/.github/**         @CodexAgent
/tools/**           @CodexAgent
/QUALITY-GATES/**   @CodexAgent
/next.config.*      @CodexAgent
/eslint.*           @CodexAgent
/playwright*/**     @CodexAgent

# Docs & backlog
/docs/**            @ChatGPTAgent @you
/TASKS.md           @ChatGPTAgent @you
/AGENTS.md          @ChatGPTAgent @you

feat: integrate Mic Calibration Flow into main /try page
  app/try/page.tsx
  playwright/tests/mic-calibration.spec.ts
Owners: @you, @CodexAgent

feat: implement Practice HUD with real-time audio metrics
  app/try/page.tsx
  components/PracticeHUD.tsx
  hooks/usePracticeMetrics.ts
  playwright-report/index.html
  playwright/tests/practice-hud.spec.ts
  public/worklets/spectral-processor.js
  test-results/.last-run.json
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/error-context.md
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/test-failed-1.png
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/video.webm
  tests/unit/components/PracticeHUD.spec.tsx
  tests/unit/hooks/usePracticeMetrics.spec.ts
Owners: @you, @CodexAgent

feat: add codex manifest generator
  package-lock.json
  package.json
  tools/codex-cloud/generate-manifest.ts
Owners: @CodexAgent

chore: add research summary validator
  RUN_AND_VERIFY.md
  package.json
  tools/codex-cloud/validate-summaries.ts
Owners: @CodexAgent

feat: add batch research summary renderer
  package.json
  tools/codex-cloud/render-summaries.ts
Owners: @CodexAgent

feat: add comprehensive analytics and user testing framework
  app/api/feedback/route.ts
  components/FeedbackCollector.tsx
  components/MicCalibrationFlow.tsx
  docs/deployment-checklist.md
  docs/user-testing-plan.md
  hooks/usePracticeMetrics.ts
  lib/analytics/calibration.ts
  lib/analytics/hud.ts
Owners: @you, @CodexAgent, @ChatGPTAgent

fix: resolve TypeScript errors and prepare for deployment
  app/try/page.tsx
  components/FeedbackCollector.tsx
  lib/analytics/core.ts
  playwright-report/index.html
  playwright/tests/practice-hud.spec.ts
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/error-context.md
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/test-failed-1.png
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/video.webm
Owners: @you, @CodexAgent

docs: comprehensive project documentation and reporting
  docs/deployment-status.md
  docs/executive-summary.md
  docs/project-report.md
  docs/technical-contributions.md
Owners: @ChatGPTAgent, @you

fix: sanitize slugs in summary batch renderer
  package.json
  tests/unit/tools/codex-cloud/render-summaries.spec.ts
  tools/codex-cloud/render-summaries.ts
Owners: @CodexAgent

fix: restore codex manifest script
  package.json
  tools/codex-cloud/render-summaries.ts
Owners: @CodexAgent

feat: add codex summary batch renderer workflow
  package.json
  pnpm-lock.yaml
  tools/codex-cloud/generate-manifest.ts
  tools/codex-cloud/render-summaries.ts
  tools/codex-cloud/validate-summaries.ts
Owners: @CodexAgent

chore: restore codex manifest script
  package.json
  tools/codex-cloud/render-summaries.ts
Owners: @CodexAgent

fix: simplify codex validation yaml parser
  tools/codex-cloud/validate-summaries.ts
  types/fast-glob.d.ts
Owners: @CodexAgent

fix(codex-cloud): validate batch summary slugs
  package.json
  pnpm-lock.yaml
  tools/codex-cloud/generate-manifest.ts
  tools/codex-cloud/render-summaries.ts
  tools/codex-cloud/validate-summaries.ts
Owners: @CodexAgent

fix: harden batch summary slug validation
  package.json
  pnpm-lock.yaml
  tools/codex-cloud/generate-manifest.ts
  tools/codex-cloud/render-summaries.ts
  tools/codex-cloud/validate-summaries.ts
Owners: @CodexAgent

docs: comprehensive AI assistant clone prompt and implementation guide
  docs/ai-assistant-clone-prompt.md
  docs/prompt-implementation-guide.md
  docs/system-prompt-short.md
Owners: @ChatGPTAgent, @you

docs: integration improvements and deployment monitoring infrastructure
  docs/integration-improvements.md
  reports/deployment-report-2025-09-17.json
  scripts/monitor-deployment.js
Owners: @ChatGPTAgent, @you

feat: harden codex batch renderer
  package.json
  pnpm-lock.yaml
  tests/unit/tools/codex-cloud/render-summaries.spec.ts
  tools/codex-cloud/generate-manifest.ts
  tools/codex-cloud/render-summaries.ts
  tools/codex-cloud/validate-summaries.ts
Owners: @CodexAgent

docs: document research synthesis workflow
  docs/handbook.md
  docs/research-synthesis/README.md
Owners: @ChatGPTAgent, @you

fix: default practice audio enhancements to off
  app/practice/page.tsx
  app/practice/useSettings.ts
  lib/db.ts
Owners: @you, @CodexAgent

chore: remove unused toast helper
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  playwright/tests/helpers/fakeMic.ts
Owners: @you, @CodexAgent

fix: keep offline responses isolated
  .artifacts/SSOT.md
  .artifacts/playwright.json
  .artifacts/vitest.json
  docs/audit/resonai-audit-response.md
  playwright/tests/isolation-offline-practice.spec.ts
  public/sw.js
Owners: @ChatGPTAgent, @you, @CodexAgent

feat: stream pitch worklet results via shared buffer
  app/practice/page.tsx
  audio/sabRingBuffer.ts
  playwright/tests/global.d.ts
  public/worklets/pitch.worklet.js
  public/worklets/sab-ring-buffer.js
Owners: @you, @CodexAgent

feat: complete wave 2 CSP cleanup and PWA alignment
  AGENTS.md
  app/ui.css
  components/FeedbackCollector.tsx
  components/MicCalibrationFlow.tsx
  components/PracticeHUD.tsx
  eslint.config.mjs
  playwright-report/index.html
  public/sw.js
  scripts/build-precache.js
  test-results/.last-run.json
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/error-context.md
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/test-failed-1.png
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/video.webm
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/error-context.md
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/test-failed-1.png
  test-results/mic-calibration-Mic-Calibr-d90e2-crophone-permission-request-firefox/video.webm
Owners: @ChatGPTAgent, @you, @CodexAgent

fix: harden practice audio reset
  app/practice/page.tsx
Owners: @you, @CodexAgent

fix: align practice reset defaults
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  playwright/tests/helpers/fakeMic.ts
Owners: @you, @CodexAgent

fix: resolve ESLint inline style violations
  .vscode/settings.json
  components/MicCalibrationFlow.tsx
  components/PracticeHUD.tsx
  eslint.config.mjs
Owners: @you, @CodexAgent

refactor: reuse audio teardown helper on unmount
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  playwright/tests/helpers/fakeMic.ts
Owners: @you, @CodexAgent

fix: remove inline practice meters styles
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  app/ui.css
  components/MicCalibrationFlow.tsx
  components/PracticeHUD.tsx
  playwright/tests/helpers/fakeMic.ts
Owners: @you, @CodexAgent

docs: add comprehensive P1 task breakdown with timeline and success metrics
  docs/P1_TASK_BREAKDOWN.md
Owners: @ChatGPTAgent, @you

feat: add automated maintenance worker system
  .agent/README.md
  .agent/agent_queue.json
  .agent/config.json
  .agent/state.json
  .artifacts/SSOT.md
  RUN_AND_VERIFY.md
  app/practice/SettingsChip.tsx
  app/practice/Trials.tsx
  package.json
  playwright-report/index.html
  playwright/tests/a11y_min.spec.ts
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/smoke.spec.ts
  public/sw.js
  scripts/check-isolation.js
  scripts/enforce-selectors.js
  scripts/fix-csp-a11y-drift.js
  scripts/lint-fix-batch.js
  scripts/maintenance-worker.js
  scripts/prune-unused-code.js
  scripts/quarantine-flaky-tests.js
  scripts/sync-governance-docs.js
  scripts/test-maintenance-worker.js
  test-maintenance.bat
  test-results/.last-run.json
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/error-context.md
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/test-failed-1.png
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/video.webm
Owners: @you, @CodexAgent

fix: normalize practice reset handler formatting
  app/practice/page.tsx
Owners: @you, @CodexAgent

docs: document lane acceptance criteria
  QUALITY-GATES/lanes.md
  RUN_AND_VERIFY.md
Owners: @CodexAgent

feat: implement comprehensive E2E test for offline isolation and PWA functionality
  TASKS.md
  playwright-report/index.html
  playwright/tests/offlineIsolation.spec.ts
  public/sw.js
  scripts/build-precache.js
  scripts/ci-summary.ts
  test-results/.last-run.json
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/error-context.md
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/test-failed-1.png
  test-results/a11y.landing--a11y-Landing-0dee4-iolations-if-axe-available--firefox/video.webm
  test-results/offlineIsolation-Offline-I-7a114-lity-features-while-offline-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-7a114-lity-features-while-offline-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-7a114-lity-features-while-offline-firefox/video.webm
  test-results/offlineIsolation-Offline-I-8e496-ibration-flow-while-offline-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-8e496-ibration-flow-while-offline-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-8e496-ibration-flow-while-offline-firefox/video.webm
  test-results/offlineIsolation-Offline-I-dc560--critical-assets-from-cache-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-dc560--critical-assets-from-cache-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-dc560--critical-assets-from-cache-firefox/video.webm
  test-results/offlineIsolation-Offline-I-e4933-ctice-session-while-offline-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-e4933-ctice-session-while-offline-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-e4933-ctice-session-while-offline-firefox/video.webm
Owners: @ChatGPTAgent, @you, @CodexAgent

docs: align codex-cloud merge gate prompt with SSOT data
  docs/codex-cloud-merge-gate-prompt.md
Owners: @ChatGPTAgent, @you

fix: normalize practice reset helpers
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  app/ui.css
  components/MicCalibrationFlow.tsx
  components/PracticeHUD.tsx
  playwright/tests/helpers/fakeMic.ts
  pnpm-lock.yaml
Owners: @you, @CodexAgent

fix: normalize practice reset helper indentation
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  app/ui.css
  components/MicCalibrationFlow.tsx
  components/PracticeHUD.tsx
  playwright/tests/helpers/fakeMic.ts
Owners: @you, @CodexAgent

fix: memoize practice reset handlers
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  app/ui.css
  components/MicCalibrationFlow.tsx
  components/PracticeHUD.tsx
  playwright/tests/helpers/fakeMic.ts
Owners: @you, @CodexAgent

test: stabilize E2E suite by fixing dialogs, offline handling, and selectors
  playwright-report/index.html
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/helpers/dialogHandler.ts
  playwright/tests/helpers/index.ts
  playwright/tests/isolation-offline-practice.spec.ts
  playwright/tests/mic-calibration.spec.ts
  playwright/tests/offlineIsolation.spec.ts
  playwright/tests/practice-session-reset.spec.ts
  playwright/tests/smoke.spec.ts
  scripts/ci-summary.ts
  test-results/.last-run.json
  test-results/offlineIsolation-Offline-I-7a114-lity-features-while-offline-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-7a114-lity-features-while-offline-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-7a114-lity-features-while-offline-firefox/video.webm
  test-results/offlineIsolation-Offline-I-8e496-ibration-flow-while-offline-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-8e496-ibration-flow-while-offline-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-8e496-ibration-flow-while-offline-firefox/video.webm
  test-results/offlineIsolation-Offline-I-dc560--critical-assets-from-cache-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-dc560--critical-assets-from-cache-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-dc560--critical-assets-from-cache-firefox/video.webm
  test-results/offlineIsolation-Offline-I-e4933-ctice-session-while-offline-firefox/error-context.md
  test-results/offlineIsolation-Offline-I-e4933-ctice-session-while-offline-firefox/test-failed-1.png
  test-results/offlineIsolation-Offline-I-e4933-ctice-session-while-offline-firefox/video.webm
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/error-context.md
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/test-failed-1.png
  test-results/smoke-practice-shows-meter-or-permission-hint-firefox/video.webm
Owners: @CodexAgent

ci: refresh SSOT
  .artifacts/SSOT.md
  .artifacts/playwright.json
  .artifacts/vitest.json
  RUN_AND_VERIFY.md
Owners: none
