Repository fubumaki/resonai, changes with the owners that CODEOWNERS names for each.
All owners: @you, @CodexAgent, @ChatGPTAgent

CODEOWNERS:

# CODEOWNERS
# Patterns relative to repository root

# App code
/app/**             @you @CodexAgent
/components/**      @you @CodexAgent
/styles/**          @you

# Public assets
/public/**          @you

# Infra/CI/Security
/.github/**         @CodexAgent
/tools/**           @CodexAgent
/QUALITY-GATES/**   @CodexAgent
/next.config.*      @CodexAgent
/eslint.*           @CodexAgent
/playwright*/**     @CodexAgent

# Docs & backlog
/docs/**            @ChatGPTAgent @you
/TASKS.md           @ChatGPTAgent @you
/AGENTS.md          @ChatGPTAgent @you

chore: update ssot snapshot
  .artifacts/SSOT.md
Owners: none

docs: refresh ssot summary block
  .artifacts/SSOT.md
  RUN_AND_VERIFY.md
Owners: none

chore: refresh ssot last green commit
  .artifacts/SSOT.md
  PR_BODY_SCOPE_COMPLIANT.md
  RUN_AND_VERIFY.md
Owners: none

fix(conflicts): reconcile SSOT, CI, and confirm dialog wiring
  .artifacts/SSOT.md
  .artifacts/ci-summary.txt
  RUN_AND_VERIFY.md
Owners: none

style: tidy settings layout markup
  app/settings/page.tsx
Owners: @you, @CodexAgent

feat: improve ci summary resilience
  .artifacts/SSOT.md
  .artifacts/ci-summary.txt
  RUN_AND_VERIFY.md
  scripts/ci-summary.ts
Owners: none

feat(safety): add strain guardrails core with thresholds and unit tests (#14)
  engine/audio/constants.ts
  engine/audio/strain.ts
  tests/unit/strain.spec.ts
Owners: none

feat(ui): add PitchBandDrill with lab route and tests (#8)
  app/labs/pitch-band/page.tsx
  components/ProgressBar.tsx
  components/drills/PitchBandDrill.tsx
  tests/unit/components/pitch-band-drill.spec.tsx
  vitest.config.ts
Owners: @you, @CodexAgent

docs: Data & Privacy page content + home main landmark (#5)
  app/page.tsx
Owners: @you, @CodexAgent

feat(pwa): precache drills & worklets; add offline drills test (#6)
  playwright/tests/isolation-offline-drills.spec.ts
  public/sw.js
Owners: @CodexAgent, @you

chore(audio): centralize expressiveness and prosody thresholds in constants (#11)
  engine/audio/constants.ts
  engine/audio/expressiveness.ts
  engine/audio/worklets/pitch-processor.ts
Owners: none

feat(ui): add accessible Orb component (hue + tilt shimmer, trend chips) (#10)
  components/Orb.tsx
  tests/unit/components/orb.spec.tsx
Owners: @you, @CodexAgent

feat(audio): add LPC estimator API and basic F1/F2 bucketing with tests (#7)
  engine/audio/lpcEstimator.ts
  tests/unit/lpcEstimator.spec.ts
Owners: none

feat(audio): add YIN pitch estimator with unit tests (#1)
  engine/audio/yin.ts
  tests/unit/yin.spec.ts
Owners: none

feat(ui): add local-only GuideOverlay (Web Speech API) with a11y and test (#4)
  components/GuideOverlay.tsx
  tests/unit/components/guide-overlay.spec.tsx
Owners: @you, @CodexAgent

feat(practice): integrate Orb into pitch panel for practice skeleton (#3)
  app/practice/page.tsx
Owners: @you, @CodexAgent

chore: refresh test artifacts
  .artifacts/SSOT.md
  .artifacts/vitest.json
Owners: none

feat: bootstrap practice test hooks
  app/layout.tsx
  app/practice/page.tsx
  public/practice-hooks.js
Owners: @you, @CodexAgent

test: stub practice reset spec prerequisites
  playwright/tests/reset-progress.spec.ts
Owners: @CodexAgent

chore: refresh playwright json reporting
  .artifacts/playwright.json
  package.json
  playwright.config.ts
  scripts/run-playwright-json.mjs
Owners: none

feat: preload practice test hooks
  app/layout.tsx
  app/practice/page.tsx
  playwright/tests/global.d.ts
  public/practice-hooks.js
Owners: @you, @CodexAgent

test: stabilize practice reset harness; expose __practiceReady; always mount progress UI; add testids; update spec waits
  app/practice/SettingsChip.tsx
  app/practice/page.tsx
  playwright/tests/reset-progress.spec.ts
Owners: @you, @CodexAgent

fix: restore practice hooks state
  app/practice/page.tsx
  public/practice-hooks.js
Owners: @you, @CodexAgent

feat: add practice hooks bootstrap
  app/practice/page.tsx
  practice-hooks.d.ts
  public/practice-hooks.js
Owners: @you, @CodexAgent

fix: stabilize practice trial callbacks
  app/practice/Trials.tsx
Owners: @you, @CodexAgent

chore: add audio worklet typings
  engine/audio/worklets/audio-worklet.types.d.ts
  engine/audio/worklets/energy-processor.ts
  engine/audio/worklets/lpc-processor.ts
Owners: none

fix: add types for performance hud
  app/PerfHUD.tsx
  playwright/tests/helpers/permissions.ts
  types/testing-modules.d.ts
Owners: @you, @CodexAgent

chore: add testing tooling dependencies
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

chore: add testing tooling dependencies
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

feat: add practice hooks bootstrap
  package.json
  practice-hooks.d.ts
Owners: none

feat: restore CREPE detector runtime
  audio/detectors/CrepeTinyDetector.ts
  package-lock.json
  package.json
  tests/unit/audio/crepe-detector.spec.ts
  types/onnxruntime-web.d.ts
Owners: none

fix: align permission mock status creation
  playwright/tests/helpers/permissions.ts
Owners: @CodexAgent

docs: sync TASKS.md codex inline-style cleanup status
  TASKS.md
Owners: @ChatGPTAgent, @you

fix: align permission override resolution with main
  playwright/tests/helpers/permissions.ts
Owners: @CodexAgent

fix: normalize permission mock wildcard handling
  package.json
  playwright/tests/helpers/permissions.ts
Owners: @CodexAgent

chore: align testing deps and permission mock fallback
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

chore: refine lint bridge and permission mock
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

fix: stabilize lint shim and permission mock
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

chore: sync testing deps and permission mock
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

fix: ensure permission mock sets default name
  playwright/tests/helpers/permissions.ts
Owners: @CodexAgent
