Repository fubumaki/resonai, changes with the owners that CODEOWNERS names for each.
All owners: @you, @CodexAgent, @ChatGPTAgent

docs: add deployment setup guide and verification script
  DEPLOYMENT_SETUP.md
  package.json
  scripts/test-deployment.js
Owners: none

chore: add test:deployment script to package.json
  package.json
Owners: none

chore: add package-lock.json after dependency reinstall
  package-lock.json
Owners: none

test: verify auto-deployment pipeline
  app/layout.tsx
Owners: @you, @CodexAgent

test: verify auto-deployment pipeline is working
  app/layout.tsx
Owners: @you, @CodexAgent

fix: remove corrupted test comments causing build failure
  app/layout.tsx
Owners: @you, @CodexAgent

test: add rocket emoji to verify deployment is working
  app/page.tsx
Owners: @you, @CodexAgent

test: add sparkles emoji to trigger fresh deployment
  app/page.tsx
Owners: @you, @CodexAgent

feat: add commit SHA HUD and expose Vercel commit env
  app/layout.tsx
  app/ui.css
  components/CommitHud.tsx
  next.config.js
Owners: @you, @CodexAgent

feat: add ProgressBar component integration and session progress tracking
  PR_BODY_SCOPE_COMPLIANT.md
  PR_BODY_TASK8.md
  RELEASE_NOTES_SCOPE_COMPLIANT.md
  app/practice/page.tsx
  components/ProgressBar.tsx
  lib/progress.ts
  playwright-report/index.html
  playwright/tests/practice-session-progress.spec.ts
  test-results/.last-run.json
  tests/unit/components/progress-bar.spec.tsx
  tests/unit/lib/progress.spec.ts
  tests/unit/setup.ts
  tsconfig.tests.json
  vitest.config.ts
Owners: @you, @CodexAgent

feat: Task 8 UX polish - 10-trial session structure
  app/practice/page.tsx
  playwright-report/index.html
  playwright/tests/practice-session-progress.spec.ts
  test-results/.last-run.json
  test-results/analytics_beacon-analytics-12a47-ndBeacon-stub-forced-flush--firefox/error-context.md
  test-results/analytics_beacon-analytics-12a47-ndBeacon-stub-forced-flush--firefox/test-failed-1.png
  test-results/analytics_beacon-analytics-12a47-ndBeacon-stub-forced-flush--firefox/video.webm
Owners: @you, @CodexAgent

docs: update PR body for scope-compliant release
  PR_BODY_SCOPE_COMPLIANT.md
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

feat: tag feat/tests-stabilization branch for test stabilization work
  TASKS.md
Owners: @ChatGPTAgent, @you

feat: add CI artifacts and documentation
  .github/workflows/ci.yml
  .github/workflows/e2e-nightly.yml
  .github/workflows/e2e-win.yml
  CI_ARTIFACTS.md
  RUN_AND_VERIFY.md
Owners: @CodexAgent

fix: resolve TypeScript errors and add missing dependencies
  .artifacts/.gitignore
  .artifacts/SSOT.md
  .github/workflows/bridge.yml
  .github/workflows/ci.yml.backup
  app/practice/SettingsChip.tsx
  app/practice/events.ts
  app/settings/page.tsx
  app/ui.css
  components/ui/confirm-dialog.tsx
  docs/local-first-report.md
  package.json
  playwright-report/index.html
  playwright/tests/confirm-dialog.spec.ts
  playwright/tests/helpers/stubBeacon.ts
  playwright/tests/practice-session-reset-basic.spec.ts
  playwright/tests/practice-session-reset-harness.spec.ts
  playwright/tests/practice-session-reset-simple.spec.ts
  playwright/tests/practice-session-reset.spec.ts
  pnpm-lock.yaml
  scripts/ci-summary.ts
  test-results/.last-run.json
  test-results/analytics_beacon-analytics-12a47-ndBeacon-stub-forced-flush--firefox/error-context.md
  test-results/analytics_beacon-analytics-12a47-ndBeacon-stub-forced-flush--firefox/test-failed-1.png
  test-results/analytics_beacon-analytics-12a47-ndBeacon-stub-forced-flush--firefox/video.webm
  tests/setup.ts
  tests/unit/confirm-dialog-simple.spec.ts
  tests/unit/confirm-dialog.spec.tsx
  tests/unit/progress.reducer.spec.ts
  tests/unit/session-reset.spec.ts
  tests/unit/toast-accessibility.spec.ts
  vitest.config.ts
Owners: @CodexAgent, @you, @ChatGPTAgent

feat: add accessible dialog component
  app/practice/SettingsChip.tsx
  app/settings/page.tsx
  components/AccessibleDialog.tsx
  components/MicPrimerDialog.tsx
  labs/diagnostics.tsx
  playwright/tests/accessible_dialog.spec.ts
Owners: @you, @CodexAgent

feat: add playwright testing helpers
  playwright/tests/a11y_min.spec.ts
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/experiments.spec.ts
  playwright/tests/helpers/analytics.ts
  playwright/tests/helpers/fakeMic.ts
  playwright/tests/helpers/index.ts
  playwright/tests/helpers/localStorage.ts
  playwright/tests/helpers/permissions.ts
  playwright/tests/mic_flow.spec.ts
  playwright/tests/primer_flows.spec.ts
Owners: @CodexAgent

docs: expand qa governance
  AGENTS.md
  docs/DECISIONS.md
Owners: @ChatGPTAgent, @you

chore: publish ci json summaries
  .github/workflows/ci.yml
  RUN_AND_VERIFY.md
  tools/self_improve/collect_signals.mjs
  tools/self_improve/write_summary.mjs
Owners: @CodexAgent

feat: add session progress test helpers
  app/practice/page.tsx
  lib/analytics.ts
  playwright/tests/global.d.ts
  playwright/tests/practice-session-progress.spec.ts
  src/sessionProgress.ts
Owners: @you, @CodexAgent

chore: add ci summary script
  RUN_AND_VERIFY.md
  package.json
  pnpm-lock.yaml
  scripts/ci-summary.ts
Owners: none

test: add axe-core playwright dependency
  components/MicPrimerDialog.tsx
  lib/permission-primer.ts
  package-lock.json
  package.json
  playwright/tests/experiments.spec.ts
  playwright/tests/primer_flows.spec.ts
  tests/unit/setup.ts
  tsconfig.tests.json
Owners: @you, @CodexAgent

chore: add ssot reporting artifacts
  .artifacts/SSOT.md
  .artifacts/playwright.json
  .artifacts/vitest.json
  RUN_AND_VERIFY.md
  package.json
  pnpm-lock.yaml
  scripts/ci-summary.ts
Owners: none

fix: clamp progress bar values
  components/ProgressBar.tsx
Owners: @you, @CodexAgent

docs: expand Playwright runbook
  playwright/README.md
Owners: @CodexAgent

docs: add post-gating roadmap candidates
  TASKS.md
Owners: @ChatGPTAgent, @you

chore: add playwright flaky nightly workflow
  .github/workflows/playwright-flaky-nightly.yml
  scripts/ci-summary.ts
Owners: @CodexAgent

docs: expand agent roles governance
  AGENTS.md
Owners: @ChatGPTAgent, @you

chore: refresh playwright ci setup and ssot data
  .artifacts/SSOT.md
  .artifacts/playwright.json
  .artifacts/vitest.json
  .github/workflows/ci.yml
  RUN_AND_VERIFY.md
Owners: @CodexAgent

chore: add playwright flaky nightly workflow
  .github/workflows/playwright-flaky-nightly.yml
Owners: @CodexAgent

ci: wire ssot artifacts into pipeline
  .artifacts/SSOT.md
  .artifacts/playwright.json
  .artifacts/vitest.json
  .github/workflows/ci.yml
  RUN_AND_VERIFY.md
  package.json
  scripts/ci-summary.ts
  tools/self_improve/collect_signals.mjs
  tools/self_improve/write_summary.mjs
Owners: @CodexAgent

docs(ssot): refresh SSOT snapshot and CI flake stats
  .artifacts/SSOT.md
  PR_BODY_SCOPE_COMPLIANT.md
  RUN_AND_VERIFY.md
Owners: none

chore: quarantine flaky playwright specs
  .artifacts/SSOT.md
  .github/workflows/playwright-flaky-nightly.yml
  RUN_AND_VERIFY.md
  package.json
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/experiments.spec.ts
  playwright/tests/helpers/analytics.ts
  playwright/tests/helpers/index.ts
  playwright/tests/helpers/stubBeacon.ts
  playwright/tests/mic_flow.spec.ts
  scripts/ci-summary.ts
Owners: @CodexAgent

feat: reset practice progress on data clears
  app/globals.css
  app/practice/ExportButton.tsx
  app/practice/page.tsx
  components/ProgressBar.tsx
  playwright/tests/global.d.ts
  playwright/tests/reset-progress.spec.ts
  src/sessionProgress.ts
  tests/unit/sessionProgressReset.spec.ts
Owners: @you, @CodexAgent

chore: refresh ci summary artifacts
  .artifacts/SSOT.md
  .artifacts/ci-summary.txt
Owners: none

test: update Playwright JSON report
  .artifacts/playwright.json
Owners: none

docs(ssot): update SSOT block with latest commit and metrics
  PR_BODY_SCOPE_COMPLIANT.md
  RUN_AND_VERIFY.md
Owners: none

chore: persist ci artifacts
  .github/workflows/ci.yml
Owners: @CodexAgent

chore: update script outputs
  package.json
Owners: none

CODEOWNERS:

# CODEOWNERS
# Patterns relative to repository root

# App code
/app/**             @you @CodexAgent
/components/**      @you @CodexAgent
/styles/**          @you

# Public assets
/public/**          @you

# Infra/CI/Security
/.github/**         @CodexAgent
/tools/**           @CodexAgent
/QUALITY-GATES/**   @CodexAgent
/next.config.*      @CodexAgent
/eslint.*           @CodexAgent
/playwright*/**     @CodexAgent

# Docs & backlog
/docs/**            @ChatGPTAgent @you
/TASKS.md           @ChatGPTAgent @you
/AGENTS.md          @ChatGPTAgent @you
