Repository fubumaki/resonai, changes with the owners that CODEOWNERS names for each.
All owners: @you, @CodexAgent, @ChatGPTAgent

CODEOWNERS:

# CODEOWNERS
# Patterns relative to repository root

# App code
/app/**             @you @CodexAgent
/components/**      @you @CodexAgent
/styles/**          @you

# Public assets
/public/**          @you

# Infra/CI/Security
/.github/**         @CodexAgent
/tools/**           @CodexAgent
/QUALITY-GATES/**   @CodexAgent
/next.config.*      @CodexAgent
/eslint.*           @CodexAgent
/playwright*/**     @CodexAgent

# Docs & backlog
/docs/**            @ChatGPTAgent @you
/TASKS.md           @ChatGPTAgent @you
/AGENTS.md          @ChatGPTAgent @you

fix: normalize playwright permission mocks
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

fix: normalize permission mock overrides
  .eslintrc.json
  eslint.config.mjs
  package.json
  playwright/tests/helpers/permissions.ts
  pnpm-lock.yaml
Owners: @CodexAgent

docs: document completed CI stabilization and create follow-up e2e tasks
  TASKS.md
Owners: @ChatGPTAgent, @you

fix: normalize permission query status stubs
  playwright/tests/helpers/permissions.ts
Owners: @CodexAgent

fix(audio): cache worklet sample rate
  engine/audio/worklets/pitch-processor.ts
  public/worklets/pitch-processor.js
Owners: @you

fix: run level meter sampling in effect
  app/practice/page.tsx
Owners: @you, @CodexAgent

fix: update audio unlock effect
  app/practice/page.tsx
Owners: @you, @CodexAgent

fix: stabilize session summary canvas scaling
  app/practice/SessionSummary.tsx
Owners: @you, @CodexAgent

fix: implement analytics event flushing for e2e tests
  lib/analytics.ts
  playwright-report/index.html
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/helpers/analytics.ts
  playwright/tests/mic_flow.spec.ts
  playwright/tests/primer_flows.spec.ts
  playwright/tests/simple-test.spec.ts
  playwright/tests/test-dialog-manual.spec.ts
  scripts/verify-dialog.js
  test-results/.last-run.json
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/video.webm
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/error-context.md
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/test-failed-1.png
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/video.webm
Owners: @CodexAgent

fix: resolve permission dialog/primer flow e2e test failures
  app/try/page.tsx
  lib/analytics.ts
  next.config.js
  playwright-report/index.html
  playwright/tests/a11y_min.spec.ts
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/debug-analytics.spec.ts
  playwright/tests/debug-page-load.spec.ts
  playwright/tests/helpers/analytics.ts
  playwright/tests/mic_flow.spec.ts
  playwright/tests/primer_flows.spec.ts
  playwright/tests/test-dialog-manual.spec.ts
  test-results/.last-run.json
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/error-context.md
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/test-failed-1.png
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/video.webm
Owners: @you, @CodexAgent

fix: resolve analytics tracking e2e test failures
  playwright-report/index.html
  playwright/tests/analytics_beacon.spec.ts
  playwright/tests/debug-analytics.spec.ts
Owners: @CodexAgent

fix: reset mic selection when unavailable
  app/practice/page.tsx
Owners: @you, @CodexAgent

fix: resolve mic flow e2e test failure
  playwright-report/index.html
  playwright/tests/mic_flow.spec.ts
  test-results/.last-run.json
  test-results/experiments-Experiments-E1-b93eb-e-and-persist-across-reload-firefox/error-context.md
  test-results/experiments-Experiments-E1-b93eb-e-and-persist-across-reload-firefox/test-failed-1.png
  test-results/experiments-Experiments-E1-b93eb-e-and-persist-across-reload-firefox/video.webm
  test-results/reduce_motion-haptics-are--2a2e0-reduced-motion-is-preferred-firefox/error-context.md
  test-results/reduce_motion-haptics-are--2a2e0-reduced-motion-is-preferred-firefox/test-failed-1.png
  test-results/reduce_motion-haptics-are--2a2e0-reduced-motion-is-preferred-firefox/video.webm
  test-results/reduce_motion-respects-pre-cf9bc-tion-for-micro-interactions-firefox/error-context.md
  test-results/reduce_motion-respects-pre-cf9bc-tion-for-micro-interactions-firefox/test-failed-1.png
  test-results/reduce_motion-respects-pre-cf9bc-tion-for-micro-interactions-firefox/video.webm
  test-results/reset-progress-Practice-se-7b76c-gs-actions-and-clear-button-firefox/error-context.md
  test-results/reset-progress-Practice-se-7b76c-gs-actions-and-clear-button-firefox/test-failed-1.png
  test-results/reset-progress-Practice-se-7b76c-gs-actions-and-clear-button-firefox/video.webm
  test-results/smoke-data-privacy-page-is-accessible-firefox/error-context.md
  test-results/smoke-data-privacy-page-is-accessible-firefox/test-failed-1.png
  test-results/smoke-data-privacy-page-is-accessible-firefox/video.webm
  test-results/smoke-fallback-to-default-mic-shows-toast-firefox/error-context.md
  test-results/smoke-fallback-to-default-mic-shows-toast-firefox/test-failed-1.png
  test-results/smoke-fallback-to-default-mic-shows-toast-firefox/video.webm
  test-results/smoke-home-has-CTA-and-nav-firefox/error-context.md
  test-results/smoke-home-has-CTA-and-nav-firefox/test-failed-1.png
  test-results/smoke-home-has-CTA-and-nav-firefox/video.webm
  test-results/smoke-practice-meter-target-bars-and-note-label-appear-firefox/error-context.md
  test-results/smoke-practice-meter-target-bars-and-note-label-appear-firefox/test-failed-1.png
  test-results/smoke-practice-meter-target-bars-and-note-label-appear-firefox/video.webm
Owners: @CodexAgent

fix: resolve experiment/feature-flag persistence e2e test failures
  playwright-report/index.html
  playwright/tests/experiments.spec.ts
  test-results/.last-run.json
  test-results/experiments-Experiments-E1-b93eb-e-and-persist-across-reload-firefox/error-context.md
  test-results/experiments-Experiments-E1-b93eb-e-and-persist-across-reload-firefox/test-failed-1.png
  test-results/experiments-Experiments-E1-b93eb-e-and-persist-across-reload-firefox/video.webm
  test-results/reduce_motion-haptics-are--2a2e0-reduced-motion-is-preferred-firefox/error-context.md
  test-results/reduce_motion-haptics-are--2a2e0-reduced-motion-is-preferred-firefox/test-failed-1.png
  test-results/reduce_motion-haptics-are--2a2e0-reduced-motion-is-preferred-firefox/video.webm
  test-results/reduce_motion-respects-pre-cf9bc-tion-for-micro-interactions-firefox/error-context.md
  test-results/reduce_motion-respects-pre-cf9bc-tion-for-micro-interactions-firefox/test-failed-1.png
  test-results/reduce_motion-respects-pre-cf9bc-tion-for-micro-interactions-firefox/video.webm
  test-results/reset-progress-Practice-se-7b76c-gs-actions-and-clear-button-firefox/error-context.md
  test-results/reset-progress-Practice-se-7b76c-gs-actions-and-clear-button-firefox/test-failed-1.png
  test-results/reset-progress-Practice-se-7b76c-gs-actions-and-clear-button-firefox/video.webm
  test-results/smoke-data-privacy-page-is-accessible-firefox/error-context.md
  test-results/smoke-data-privacy-page-is-accessible-firefox/test-failed-1.png
  test-results/smoke-data-privacy-page-is-accessible-firefox/video.webm
  test-results/smoke-fallback-to-default-mic-shows-toast-firefox/error-context.md
  test-results/smoke-fallback-to-default-mic-shows-toast-firefox/test-failed-1.png
  test-results/smoke-fallback-to-default-mic-shows-toast-firefox/video.webm
  test-results/smoke-home-has-CTA-and-nav-firefox/error-context.md
  test-results/smoke-home-has-CTA-and-nav-firefox/test-failed-1.png
  test-results/smoke-home-has-CTA-and-nav-firefox/video.webm
  test-results/smoke-practice-meter-target-bars-and-note-label-appear-firefox/error-context.md
  test-results/smoke-practice-meter-target-bars-and-note-label-appear-firefox/test-failed-1.png
  test-results/smoke-practice-meter-target-bars-and-note-label-appear-firefox/video.webm
Owners: @CodexAgent

fix: resolve reduced-motion handling e2e test failures
  playwright-report/index.html
  playwright/tests/debug-analytics-globals.spec.ts
  playwright/tests/helpers/analytics.ts
  playwright/tests/reduce_motion.spec.ts
  test-results/.playwright-artifacts-0/5283843b-3e26-4d85-b526-a0e82bdcf9ba.webm
Owners: @CodexAgent

fix: resolve analytics event tracking in e2e tests
  app/try/page.tsx
  playwright-report/index.html
  playwright/tests/debug-analytics-globals.spec.ts
  playwright/tests/debug-analytics.spec.ts
  playwright/tests/debug-page-load.spec.ts
  playwright/tests/helpers/analytics.ts
  playwright/tests/reset-progress.spec.ts
  test-results/.last-run.json
  test-results/.playwright-artifacts-0/5283843b-3e26-4d85-b526-a0e82bdcf9ba.webm
  test-results/.playwright-artifacts-0/d1159134-4b7e-4f34-b1be-c28deeb8fb95.webm
Owners: @you, @CodexAgent

fix: resolve reset-progress behavior e2e test failure
  playwright-report/index.html
  playwright/tests/reset-progress.spec.ts
  test-results/.last-run.json
  test-results/.playwright-artifacts-0/d1159134-4b7e-4f34-b1be-c28deeb8fb95.webm
Owners: @CodexAgent

fix: resolve UI rendering e2e test failures
  app/data/page.tsx
  app/page.tsx
  next.config.js
  playwright-report/index.html
  playwright/tests/debug-dialog-state.spec.ts
  playwright/tests/debug-page-loading.spec.ts
  playwright/tests/smoke.spec.ts
Owners: @you, @CodexAgent

feat: sync session summary with stored trials
  app/practice/ExportButton.tsx
  app/practice/SessionSummary.tsx
Owners: @you, @CodexAgent

fix: resolve offline/caching behavior e2e test failures
  playwright/tests/isolation-offline-drills.spec.ts
  playwright/tests/isolation-offline-fix.spec.ts
  playwright/tests/isolation.spec.ts
Owners: @CodexAgent

fix: update CSP to allow unsafe-inline for development
  app/page.tsx
  playwright-report/index.html
  playwright/tests/a11y_quick_wins.spec.ts
  playwright/tests/debug-dialog-state.spec.ts
  playwright/tests/debug-page-loading.spec.ts
  playwright/tests/privacy_a11y.spec.ts
  playwright/tests/smoke.spec.ts
  test-results/.last-run.json
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/error-context.md
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/test-failed-1.png
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/video.webm
Owners: @you, @CodexAgent

fix: resolve accessibility e2e test failures
  next.config.js
  playwright/tests/privacy_a11y.spec.ts
  test-results/.last-run.json
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/error-context.md
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/test-failed-1.png
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/video.webm
  test-results/primer_flows-Primer-Flows-E2A-variant-shows-primer-dialog-firefox/video.webm
Owners: @CodexAgent

docs: update telemetry description on data page
  app/data/page.tsx
Owners: @you, @CodexAgent

fix: resolve final e2e test failures
  playwright/tests/chrome-comparison.spec.ts
  playwright/tests/smoke.spec.ts
  playwright/tests/test-dialog-manual.spec.ts
  test-results/.last-run.json
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/error-context.md
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/test-failed-1.png
  test-results/a11y_min-permission-primer-dialog-is-accessible-when-shown-firefox/video.webm
Owners: @CodexAgent

chore: finalize e2e test suite - all 71 tests now passing
  .agent/LOCK
  .agent/agent_queue.json
  .agent/state.json
  app/practice/SettingsChip.tsx
  app/practice/page.tsx
  playwright-report/index.html
Owners: @you, @CodexAgent

fix: ensure analytics beacon payload is json
  lib/analytics.ts
  tests/unit/lib/analytics.spec.ts
Owners: none

feat: implement Mic Calibration Flow (Slice 1)
  .github/pull_request_template.md
  RUN_AND_VERIFY.md
  app/calibration-demo/page.tsx
  components/MicCalibrationFlow.tsx
  hooks/useMicCalibration.ts
  playwright.config.ts
  playwright/tests/helpers/stubBeacon.ts
  playwright/tests/mic-calibration.spec.ts
  playwright/tests/practice-session-reset.spec.ts
  scripts/agent/runner.ts
  tests/unit/components/MicCalibrationFlow.simple.spec.tsx
  tests/unit/components/MicCalibrationFlow.spec.tsx
  tests/unit/hooks/useMicCalibration.spec.ts
  tests/unit/progress.reducer.spec.ts
Owners: @CodexAgent, @you

docs: outline codex cloud follow-ups
  docs/technical/codex-cloud-recommendations.md
Owners: @ChatGPTAgent, @you

docs: add interactive phonetics guidelines
  docs/design-guidelines/interactive-phonetics.md
  docs/handbook.md
Owners: @ChatGPTAgent, @you

docs: add audit response plan
  docs/audit/resonai-audit-response.md
Owners: @ChatGPTAgent, @you

feat: build research backlog synthesizer
  docs/research-summaries/.gitkeep
  docs/research-synthesis/master-backlog.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  tools/codex-cloud/build-backlog.ts
Owners: @ChatGPTAgent, @you, @CodexAgent

chore: remove background worker lock
  .agent/LOCK
  .agent/state.json
  playwright-report/index.html
  playwright/tests/mic-calibration.spec.ts
Owners: @CodexAgent

feat: add codex research summary renderer
  package.json
  tools/codex-cloud/render-summary.ts
Owners: @CodexAgent

fix: expand codex summary source lookup
  package.json
  tools/codex-cloud/render-summary.ts
Owners: @CodexAgent

chore: add watchdog script for self-perpetuating agent
  .agent/state.json
  RUN_AND_VERIFY.md
  package.json
  scripts/agent/watchdog.ts
Owners: none

docs: add agent watchdog setup instructions to TASKS.md
  TASKS.md
Owners: @ChatGPTAgent, @you

feat: make background worker configurable and integrate watchdog
  .agent/config.json
  RUN_AND_VERIFY.md
  TASKS.md
  scripts/agent/runner.ts
Owners: @ChatGPTAgent, @you

fix: finalise self-perpetuating background worker configuration
  RUN_AND_VERIFY.md
  TASKS.md
  scripts/agent/runner.ts
Owners: @ChatGPTAgent, @you

chore: fix line endings and formatting in agent files
  .agent/config.json
  playwright/tests/mic-calibration.spec.ts
  scripts/agent/watchdog.ts
Owners: @CodexAgent

feat: traverse section metadata in summary renderer
  tests/unit/components/progress-bar.spec.tsx
  tests/unit/tools/codex-cloud/render-summary.spec.ts
  tools/codex-cloud/render-summary.ts
Owners: @CodexAgent
